*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;

}
.navbar-toggler-icon .nav-bar-toggler{
  color: #FFF;
}

.kabom{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 500px;
  align-items: center;
  max-width: 50%;
  max-height: 50%;
  margin-top: 66px;
}
.projects-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  align-items: center;
  background-color: #a4a4a4;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.projects-container ul{
  display: flex;
  flex: row;
  flex-wrap: nowrap;
  list-style: none;
}
.project{
  display: flex;
  flex-direction: row;
  margin: 4px;
  padding: 15px;
  border-radius: 5px;
  border: #888686 .5px solid;
}
.project:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.project button{
  border: none;
  border-radius: 5px;
  max-height: 50px;
  padding: 10px 20px 10px 20px;
  width: auto;
  color: #fff;
  font-weight: 700;
  font-size: .9em;
  background-color: #000;
  border: 1px solid #0e0e0e;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.project button:hover{
  background-color: #1c1c1c;
  color:#2f2f2f;
}
.project p{
  max-width: 120%;
  font-weight: 700;
}
.projectImg{
  max-height: 180px;
  min-height: 180px;;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.introduction-container p{
  font-size: 2em;
}
.home-container h1 {
  margin-bottom: 20px;
  color: #000;
  font-weight: 600;
  font-size: 2em;
  line-height: 67px;
}
.home-container p {
  margin-bottom: 20px;
  color: #000;
  font-weight: 600;
  font-size: 1em;
}
.projects-h2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 10px;
}
.projects-h2 h2 {
  border-bottom: 2px solid #585858 !important;

}
.home-container h2{
  border-bottom: 2px solid #585858 !important;

}
.home-container{
  margin: 60px;
  min-width: 60%;
  margin-top: 6%;
  padding: 40px;
  background-color: #a4a4a4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.resume-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-brand.h1{
  font-size:30px;
  font-weight: 700;
}
.nav-link{
  font-weight: 600;
  font-size: 1.1em;
}
.nav-item:hover{
    border-bottom: 2px solid #9b9b9b;
}
.introduction-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 8%
}
.introduction-container strong{
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 8%;
  border-bottom: 5px solid #9b9b9b;
}
.home-container footer {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 30px;
  margin-top: 10%;
  background-color: #e9e9e9;
}
.images-container{
  display: flex;
  font-size: 1em;
  font-weight: 700;
  flex-direction: column;
  padding: 20px;
}
.images-container p{
  padding-top: 50px;
}
img{
  max-width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.nav-item{
  margin-left: 7vw;
  font-size: 18px;
}
.contact{
  font-weight: 700;
  font-size: 2em;
  margin-top: 20px
}
.linkedin{
  max-width: 10%;
}
.contact-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
footer{
  min-width: 150vh;
  /* padding-right: 200px;
  padding-left: 200px; */
  background-color: #e9e9e9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


form {
  margin: 0 50px 0 50px;
  /* background-color: #e9e9e9; */
  padding: 20px;
  border-radius: 10px;
  color: #e9e9e9;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #0e0e0e;
  font-size: 1.5em;
}

input[type=email], textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #e9e9e9;
}

textarea {
  height: 200px;
  width: 400px;
}

button[type=submit] {
  background-color: #585858;
  color: #e9e9e9;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type=submit]:hover {
  background-color: #1f1f1f;
}
.active{
  /* border-bottom: 3px solid #d63d14; */
  
}
.projects-container img{
  max-width: 200px;
  margin-right: 10px;
}
.project{
  min-width: 300px;
  min-height: 200px;
}

.individual-project-container{
  display: flex;
  align-items: center;
  padding: 30px;
}
.individual-project-container img{
  max-width: 600px;
  margin-top: 10px;
}
.individual-project-container p{
  margin-left: 100px;
  text-align: center;
  font-weight: 700;
  font-size: 1.4em;
}
.individual-logo-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  margin: 5px;
}
.individual-logo-container h2{
  margin-top: 30px;
  font-size: 1.4em;
}
.individual-logo-container p{
  font-size: .7em;
  margin-bottom: 10px;
  margin-top: 5px;
}
.individual-logo-container img{
  max-width: 400px;
}
.individual-logo-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
}

.individual-logo-container {
  flex: 1 1 30%; /* Adjust the percentage as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
}
.individual-media-container p{
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
}
.individual-media-container img{
  max-width: 400px;
  max-height: 400px;
  margin-bottom: 20px;
}
.return-link{
  font-size: 1em;
  font-weight: 500;
  padding: 15px;
}

.study-case-container{
  margin: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.study-case-container p{
  font-size: 1.2em;
  font-weight: normal !important;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: 700;
}
.study-case-container ol{
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
  min-width: 80vw;
}

.card-div{
  display: flex;
  flex-direction: row;
}

.card-div img{
  max-width: 600px;
  margin: 20px;
}

@media only screen and (min-width: 1900px) {
  #navbarNav{
    margin-left: 250px;
  }
}

@media only screen and (max-width: 768px) {
  *{
    font-size: 1em;
  }
  .nav-link:hover{
    border-bottom:none;
}
.nav-item {
color: #1f1f1f !important;
}
  .introduction-container p{
    font-size: 1.3em;
  }
  .nav-item{
    margin-left: 0;
  }
  .home-container{
    padding: 40px;
    min-width: 100vw !important;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
  }
  
  .home-container h2{
    border-bottom: 1px solid #d42222;
  }
  .navbar{
    width: 100%;
    height: 98px;
    background-color: #D16E28;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;  
    padding: 10px;
  }
  .navbar-nav{
   color: #000;
   opacity: .6;
   display: flex;
   align-items: center;
   justify-content: start;
   margin-top: 150px;
   gap: 40px;
   height: 40vh;
   width: 80vw;
  }
  .nav-bar a{
    font-size: 1.5em;
    color: #000;
  }
  .navbar-brand.h1{
    font-size:20px;
    font-weight: 700;
  }
  .home-container{
    font-size: 1em;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 66px;
    padding: 50px;
    min-width: 70%;
  }
 footer{
  font-size: 1em;

 }
 .images-container{
  display: flex;
  flex-direction: column;

}
.projects-container ul{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
}

.projects-container {
  max-width: 100vw;
  margin: none;
  /* padding: 10px; */
}
.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact{
  font-weight: 700;
  font-size: 1.4em;
}
.active{
  border-bottom:none;
}
form {
  width: 100%;
  border-radius: 10px;
  color: #e9e9e9;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
input[type=email], textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #e9e9e9;
}
button[type=submit] {
  background-color: #1a1a1a;
  color: #e9e9e9;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.projects-container{
  max-width: 100%;
  align-self: center;
  padding-top: 10px;
  flex-direction: column;
}
.projectImg{
  max-width: 200px;
}
.project{
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  min-width: none;
  min-height: none;
  align-items: center;
}

.collapse{
  background-color: #000;
  margin-top: 42px;
}
.project-container p{
  padding: 40px;
}

.individual-project-container{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 10px;
}
.individual-project-container img{
  max-width: 350px;
  
}
.individual-project-container p{
  margin-left: 0px;
  text-align: center;
  font-size: .8em;
  margin-top: 70px;
  font-weight: 700;
  padding: 2px;
}

.individual-logo-container{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  margin: 5px;
}
.individual-logo-container{
  padding: 0px;
  margin: 5px;
}
.individual-logo-container h2{
  margin-top: 30px;
  font-size: 1.4em;
}
.individual-logo-container p{
  font-size: .7em;
  margin-bottom: 10px;
  margin-top: 5px;
}
.individual-logo-container img{
  margin-bottom: 10px;
  margin-top: 40px;
  max-width: 70vw;
}
.individual-logo-grid{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  }
.individual-media-container{
  padding: 20px;
  margin: 5px;
}
.individual-media-container p{
  font-size: .7em;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 700;
}
.individual-media-container img{
  margin-bottom: 15px;
}
body{
  background-color: #9b9b9b;
}
}